<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/slideshow.css">
</head>
<body>
    <textarea id="source" name="" cols="30" rows="10">
<%= content %>
    </textarea>

    <script type="text/javascript" src="https://gnab.github.io/remark/downloads/remark-latest.min.js"></script>
    <script type="text/javascript">
        let slideshow = remark.create();
    </script>
</body>
</html>
